@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,600,700,800,900');


.L-page {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: Montserrat;
}

.L-navbar {
    height: 10%;
    width: 100%;
    background-color: #FFFFFF;
}
.L-sidebar {
    height: 100%;
    width: 25%;
    background-color: #FFFFFF;


}


.L-main-content {
    height: 90%;
    width: 100%;
    background-color: pink;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.L-map-container {
    height: 100%;
    width: 75%;
    background-color: #DF0D0D;
}



.L-logo {
    width: 25%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}


.text {
    font-weight: 300;
    font-size: 80px;
    color: rgb(0, 0, 0);
    padding-top: 10%;
}

#L-select {
    border-radius: 0px;
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.L-selector {
    padding-top: 100px;
    width: 90%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}