@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,600,700,800,900');


.L-page {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: Montserrat;
}

.L-navbar {
    height: 10%;
    width: 100%;
    background-color: #FFFFFF;
}
.L-sidebar {
    height: 100%;
    width: 25%;
    background-color: #FFFFFF;
    overflow: scroll;
    background-color: #FFFFFF;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;

}


.L-main-content {
    height: 90%;
    width: 100%;
    background-color: pink;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.L-map-container {
    height: 100%;
    width: 75%;
    background-color: #FFFFFF;
}



.L-logo {
    width: 25%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}


.text {
    font-weight: 300;
    font-size: 80px;
    color: rgb(0, 0, 0);
    padding-top: 10%;
}

#L-select {
    border-radius: 0px;
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    padding-top: 10px;
    margin: 10px;
    
}

.L-select {
    border-radius: 0px;
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    padding-top: 10px;
    margin: 10px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: flex-start;
    overflow: hidden;
    
}

.L-selector {
    padding-top: 100px;
    width: 90%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    background-color: #FFFFFF;
    
}

#button-1 {
    height: 30px;
    background-color: #FFFFFF;
}

#button1 {
    height: 30px;
    background-color: #FFFFFF;
    animation: shrink .75s forwards;
    

    /* -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: grow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: initial;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: grow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: initial;
    -moz-animation-timing-function: linear; */
}
@-webkit-keyframes shrink {
    from {
        height:inherit;
        /* width:100% */
    }
    to {
        height:30px;
        /* width:100%; */
    }
}
@-moz-keyframes shrink {
    from {
height: inherit;
/* width:100%; */
}
to {
height:30px;
/* width:100%; */
}
}

/* .button1 {
    height: 200px;
    width: 200px;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 1s;
    background: red;
} */

#button0 {
    
    background-color:#FFFFFF;
    animation: grow 1s forwards;
    

    /* -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: grow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: initial;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: grow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: initial;
    -moz-animation-timing-function: linear; */
}
@-webkit-keyframes grow {
    from {
        height:30px;
        /* width:100% */
    }
    to {
        height:auto;
        /* width:100%; */
    }
}
@-moz-keyframes grow {
    from {
height:30px;
/* width:100%; */
}
to {
height: auto;
/* width:100%; */
}
}


#L-button-div {
    background-color: black;
    height: 1px;
    width: 90%;
}

.chart {
    width: 80%;
    /* height: 30px; */
    background-color: #F6F6F6;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

#chart {
    background-color: #E7E7E7;
    height: 100%;
    

}
.chart-columns {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    font-size: 15px;
}

#left-border {
    border-left: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.chart-rows {
    
}