@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,600,700,800,900');

html {
  margin: 0 auto;
}
.landing-container {
    height: 100vh;
    width: 100vw;
    background-color: #00FFE5;
    margin: 0 auto;
    font-family: Montserrat;

}

.landing-p1 {
  height: 100vh;
  width: 100vw px;
  background-color: #000000;
  background: url('./background2 copy.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

.text {
    font-weight: 300;
    font-size: 80px;
    color: rgb(0, 0, 0);
    padding-top: 10%;
}


.nav-landing {
  height: 8vh;
  width: 100%;

  background: #272727;
  border-bottom: #FF5959 solid 3px;
}

.red {
   color: #FF5959;
   font-size: 80px;
   padding-top: 10%;
   font-weight: 300;
}

.line {
  background-color: black;
  height: 1px;
  width: 600px;
}

.herdo {
  font-weight: 300;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex;
	align-items: center;
  align-content: center;
  background: rgba(0, 255, 255, 0);
  width: 25%;
  text-align: center;
  padding-top: 200px;
}
.descr {
  padding: 20px;
  font-size: 26px;
}

.learn {
  background-color: #FFFFFF;
  font-size: 20px;
  border: 1px solid black;
}

.nav-button {
  border: 1px solid #141414;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 15px;
  font-weight:500;
  border-radius: 0px;
  width: 100px;
  height: 30px;
}

.hhhh {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
  padding-top: 25px;
}